@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr>
<h3>Name: @Html.DisplayFor(model => model.Name)</h3>
<h3>Hire Date: @Html.DisplayFor(model => model.HireDate)</h3>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>

<!-- <ul>
  @foreach(Client client in Stylist.Clients)
  {
      <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li>
  }
</ul> -->